.flc-instagram {
    background-color: $light-gray-b;
    padding: 95px 0 85px;

    @media (max-width: 991px) {
        padding: 70px 0;
    }
    @media (max-width: 767px) {
        padding: 60px 0;
    }
    @media (max-width: 575px) {
        padding: 50px 0;
    }

    .MediaTile__overlay {
        svg {
            vertical-align: inherit !important;
        }
    }

    .DesignedButton__button {
        padding: 0;
        position: relative;

        &::before {
            display: inline-block;
            content: '';
            background-image: url('../img/instagram-green.svg');
            margin-right: 12px;
            position: relative;
            top: 3px;
            width: 16px;
            height: 16px;
        }
    }

    &__wrap {
        img {
            width: 100%;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: max-content;
        text-decoration: none;
        transition: all 0.25s;
        $link: &;

        &:hover {
            text-decoration: none;
            color: $text-gray-color;

            #{$link}-icon {
                svg {
                    path {
                        fill: $text-gray-color;
                    }
                }
            }
        }

        &-icon {
            display: block;
            flex-shrink: 0;
            width: 16px;
            margin-right: 10px;

            svg {
                width: 100%;

                path {
                    transition: all 0.25s;
                    fill: $brand-primary;
                }
            }
        }

        &-text {
            @extend %text-12;
            text-transform: uppercase;
            color: $brand-primary;
            padding-bottom: 3px;
            position: relative;
            flex-shrink: 0;

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -1px;
                margin: auto;
                border-bottom: 1px solid $brand-primary;
                height: 0;
                width: 100%;
                transition: all 0.25s;
            }
        }
    }
}

.FeedGridLayout {
    &__button-list {
        margin-top: 60px;
    }
}

#sb_instagram {
    #sbi_load {
        .sbi_follow_btn {
            margin: 60px 0 0;

            @media (max-width: 991px) {
                margin: 50px 0 0;
            }
            @media (max-width: 767px) {
                margin: 40px 0 0;
            }

            a {
                background-color: transparent !important;
                color: transparent !important;
                margin-top: 0;

                path {
                    fill: $brand-primary;
                }

                span {
                    @extend %text-12;
                    text-transform: uppercase;
                    color: $brand-primary;
                    padding-bottom: 3px;
                    position: relative;
                    flex-shrink: 0;

                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -1px;
                        margin: auto;
                        border-bottom: 1px solid $brand-primary;
                        height: 0;
                        width: 100%;
                        transition: all 0.25s;
                    }
                }
            }
        }
    }
}