.flc-categories {
    margin-bottom: 70px;

    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
    }

    .col-md-4 {
        padding-left: 16px;
        padding-right: 16px;
    }

    &__item {
        margin-bottom: 30px;

        &-img {
            img {
                width: 100%;
            }
        }

        &-content {
            border: 1px solid $brand-primary;
            padding: 26px;
        }

        &-title,
        &-text {
            font-family: $font-family-crimson-pro;
            color: $brand-primary;
        }

        &-title {
            font-size: 32px;
            line-height: 1;
            margin-bottom: 22px;
        }

        &-text {
            font-weight: 300;
            font-style: italic;
            font-size: 22px;
            line-height: 1.2;
            margin-bottom: 30px;
        }
    }
}