.flc-breadcrumb {
    background-color: $light-gray;
    padding: 24px 0;

    &--mb {
        margin-bottom: 80px;

        @media screen and (max-width: 767px) {
            margin-bottom: 35px;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &-item {
            @extend %text-12;
            text-transform: uppercase;
            line-height: 1.833;
            margin-right: 20px;
            color: $brand-primary;
            position: relative;

            &:after {
                content: '>';
                display: block;
                color: $brand-primary;
                top: 0;
                position: absolute;
                right: -15px;
            }

            &:last-child {
                margin-right: 0;
                &:after {
                    display: none;
                }
            }

            & > a {
                display: block;
                text-decoration: none;
                color: $brand-primary;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .rank-math-breadcrumb {
        p {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        a, span {
            @extend %text-12;
            text-transform: uppercase;
            line-height: 1.833;
            margin-right: 7px;
            color: $brand-primary;
            position: relative;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
