.flc-full-map {
    width: 100%;
    position: relative;
    min-height: 400px;
    @media (max-width: 575px) {
        min-height: 250px;
        overflow: hidden;
    }

    .acf-map {
        height: 630px;

        @media (max-width: 991px) {
            height: 400px;
        }
        
        @media (max-width: 575px) {
            height: 250px;
        }
    }
}
