.flc-full-map {
    width: 100%;
    position: relative;
    min-height: 400px;
    @media (max-width: 575px) {
        min-height: 250px;
        overflow: hidden;
    }

    .acf-map {
        min-height: 400px;
        @media (max-width: 575px) {
            min-height: 250px;
        }
    }
}
