.flc-top-banner {
    background-color: $text-light-gray-color;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__overlay {
        @include full-screen();
        @include p-absolute();
        z-index: 2;
    }

    &__bg {
        position: absolute;
        @include full-screen();
        z-index: 1;
        overflow: hidden;

        img {
            object-fit: cover;
            @include full-screen();
            @include p-absolute();
        }

        video {
            object-fit: cover;
            @include full-screen();
            @include p-absolute();
        }
    }

    &__content {
        position: relative;
        z-index: 3;
        padding: 160px 0;
        text-align: center;
        @media (max-width: 1199px) {
            padding: 120px 0;
        }
        @media (max-width: 767px) {
            padding: 90px 0;
        }
        @media (max-width: 575px) {
            padding: 60px 0;
        }
    }

    &__title {
        color: $white-color;
        font-family: $font-family-garamond;
        padding: 0;
        margin: 0 0 5px;
    }

    .rank-math-breadcrumb {
        a, span {
            color: $white-color;
        }
    }

    .flc-breadcrumb {
        padding: 0;
        background-color: transparent;

        &__list {
            &-item {
                color: $white-color;

                &:after {
                    color: $white-color;
                }

                & > a {
                    color: $white-color;
                }
            }
        }
    }
}
