// Category page
.flc-sorting {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @media screen and (max-width: 575px) {
        .woocommerce-ordering {
            margin-top: 15px;
            width: 100%;
        }
    }
}

.flc-shop {
    padding-top: 60px;
    padding-bottom: 40px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }

    &__item {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 60px;
        width: 33.3333%;

        @media screen and (max-width: 991px) {
            width: 50%;
        }

        @media screen and (max-width: 767px) {
            padding-bottom: 35px;
            width: 100%;
        }

        img.attachment-woocommerce_thumbnail {
            margin-bottom: 25px;
        }

        .price {
            span {
                font-family: $font-family-crimson-pro;
                font-weight: 300;
                font-style: italic;
                font-size: 20px;
                color: $brand-primary;
            }
        }

        .woocommerce-loop-product {
            &__title {
                font-family: $font-family-crimson-pro;
                font-size: 24px;
                color: $brand-primary;
                line-height: 1;
                margin-bottom: 10px;
            }

            &__link {
                display: block;
                margin-bottom: 20px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.flc-sidebar {
    .widget {
        margin-bottom: 50px;

        .widget-title {
            font-family: $font-family-crimson-pro;
            font-weight: 400;
            font-size: 28px;
            color: $brand-primary;
            margin-bottom: 20px;
        }


        &.widget_shopping_cart {
            .cart_list {
                li {
                    border-bottom: 1px solid rgba($light-gray-с, .5);
                    padding: 20px 0;

                    &:first-child {
                        padding-top: 0;
                    }

                    a.remove {
                        float: left;
                        position: static;
                    }

                    a:not(.remove) {
                        font-weight: 600;
                        font-size: 16px;
                        color: $text-gray-color;
                        padding-left: 40px;
                        padding-right: 20px;
                    }

                    img {
                        width: auto;
                        max-height: 38px;
                    }

                    .quantity {
                        font-size: 14px;
                        color: $text-light-gray-color;
                        margin-top: 5px;
                        padding-left: 40px;
                    }
                }
            }

            .total {
                border-top: 0;
                line-height: 1;
                padding-top: 18px;
                margin-bottom: 30px;

                strong {
                    font-family: $font-family-crimson-pro;
                    font-weight: 300;
                    font-style: italic;
                    font-size: 19px;
                    color: $brand-primary;
                    margin-right: 10px;
                }

                span {
                    font-weight: 400;
                    font-size: 14px;
                    color: $text-gray-color;
                }
            }

            .buttons {
                a {
                    &:not(.checkout) {
                        display: inline-block;
                        border: 1px solid $brand-primary;
                        background-color: transparent;
                        border-radius: 0;
                        @extend %text-12;
                        font-weight: 400;
                        color: $brand-primary;
                        cursor: pointer;
                        line-height: 20px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        text-decoration: none;
                        padding: 9px 19px;
                        margin-right: 10px;
                        transition: all 0.25s;
                        width: max-content;

                        &:hover,
                        &:focus {
                            background-color: $brand-primary;
                            color: $text-light-color;
                            text-decoration: none;
                        }
                    }

                    &.checkout {
                        display: inline-block;
                        background-color: $brand-primary;
                        border: 1px solid $brand-primary;
                        border-radius: 0;
                        font-size: 12px;
                        color: $text-light-color;
                        cursor: pointer;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        text-decoration: none;
                        padding: 13px 22px;
                        transition: all 0.25s;
                        width: max-content;

                        &:hover,
                        &:focus {
                            text-decoration: none;
                            color: $brand-primary;
                            background-color: transparent;
                        }
                    }
                }
            }
        }

        .product-categories {
            list-style: none;
            margin: 0;

            li.cat-item {
                margin-bottom: 15px;
                position: relative;

                &::before {
                    content: '';
                    display: inline-block;
                    background-image: url('../img/list-caret.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    margin-right: 10px;
                    width: 7px;
                    height: 9px;
                }

                a {
                    font-size: 16px;
                    color: $text-gray-color;
                }
            }
        }
    }
}

.woocommerce,
.woocommerce-page {
    .woocommerce-Message,
    .woocommerce-info,
    .woocommerce-message,
    .woocommerce-error {
        background-color: $light-gray;
        color: $text-light-gray-color;
    }

    .woocommerce-Message,
    .woocommerce-info,
    .woocommerce-message {
        border-top-color: $brand-primary;
        font-size: 16px;

        &::before {
            color: $brand-primary;
        }

        a:not(.flc-btn) {
            color: $brand-primary;
        }

        a.wc-forward {
            display: inline-block;
            background-color: $brand-primary;
            border: 1px solid $brand-primary;
            border-radius: 0;
            font-size: 12px;
            color: $text-light-color;
            cursor: pointer;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: none;
            padding: 13px 22px;
            transition: all 0.25s;
            width: max-content;

            &:hover,
            &:focus {
                text-decoration: none;
                color: $brand-primary;
                background-color: transparent;
            }
        }

        a.flc-btn {
            color: $white-color;
            float: right;

            &:hover {
                color: $brand-primary;
            }
        }

        .showcoupon {
            color: $brand-primary;
        }


        &.woocommerce-info {
            border-top-color: $brand-primary;

            &::before {
                color: $brand-primary;
            }
        }
    }

    // Archive Page
    .woocommerce-result-count,
    .woocommerce-ordering {
        float: none;
        margin-bottom: 0;
    }

    .woocommerce-result-count {
        font-size: 16px;
        color: $text-light-gray-color;
    }

    .woocommerce-ordering {
        select {
            background-color: transparent;
            border: 1px solid $light-gray-e;
            font-size: 16px;
            color: $text-light-gray-color;
            padding: 10px 12px;
            outline: none;
            width: 240px;
        }
    }

    nav.woocommerce-pagination {
        ul {
            border-color: $brand-primary;

            li {
                border-color: $brand-primary;

                a,
                span {
                    font-size: 14px;
                    color: $brand-primary;
                    padding: 10px;

                    &.current,
                    &:hover {
                        background-color: $brand-primary;
                        color: $white-color;
                    }
                }
            }
        }
    }

    // Product Detail
    .flc-shop-product {
        margin-bottom: 100px;

        @media screen and (max-width: 767px) {
            margin-bottom: 50px;
        }

        .summary {
            .product_title {
                font-family: $font-family-garamond;
                font-size: 48px;
                color: $brand-primary;
                line-height: 1;
                margin-bottom: 30px;

                @media screen and (max-width: 767px) {
                    font-size: 36px;
                    margin-bottom: 20px;
                }
            }

            .price {
                line-height: 1;
                margin-bottom: 40px;

                @media screen and (max-width: 767px) {
                    margin-bottom: 20px;
                }

                span {
                    font-family: $font-family-crimson-pro;
                    font-weight: 300;
                    font-style: italic;
                    font-size: 36px;
                    color: $text-gray-color;
                }
            }
        }

        .woocommerce-product-gallery {
            &__wrapper {
                display: flex;
                flex-wrap: wrap;
            }

            &__image {
                &:first-child {
                    width: 100%;
                }
            }
        }

        table.variations {
            box-shadow: none;

            th,
            td {
                padding: 0;

                &.label {
                    vertical-align: middle !important;
                }
            }

            select {
                background-color: transparent;
                border: 1px solid $light-gray-e;
                font-size: 16px;
                color: $text-light-gray-color;
                padding: 10px 12px;
                outline: none;
            }
        }

        .woocommerce-product-details__short-description {
            font-size: 16px;
            color: $text-gray-color;
            line-height: 1.75;
            margin-bottom: 40px;
        }

        .form.cart {
            margin-bottom: 50px;
        }

        .flc-gift-message {
            label {
                margin-bottom: 5px;
            }

            textarea {
                background-color: $light-gray-b;
                border: 1px solid $light-gray-e;
                padding: 10px;
                width: 100%;
            }
        }

        div.quantity {
            margin-right: 10px !important;

            .qty {
                background-color: $light-gray-b;
                border: 1px solid $light-gray-e;
                width: 55px;
                height: 48px;
            }
        }

        .product_meta {
            span {
                font-size: 14px;
                color: $text-gray-color;
            }

            a {
                color: $text-gray-color;
                text-decoration: underline;
            }
        }

        table.shop_attributes {
            border: 0;
            box-shadow: none;
        }

        div.woocommerce-tabs {
            margin-bottom: 75px;

            @media screen and (max-width: 767px) {
                margin-bottom: 35px;
            }

            ul.tabs {
                border-bottom: 1px solid $light-gray;
                padding-left: 0;
                margin-bottom: 35px;

                &::before,
                &::after {
                    display: none;
                }

                li {
                    background-color: transparent;
                    border: 0;
                    line-height: 1;
                    padding: 0;
                    margin: 0 40px 0 0;

                    &::before,
                    &::after {
                        display: none;
                    }

                    &.active {
                        background-color: transparent;

                        a {
                            color: $brand-primary;
                            border-bottom: 1px solid $brand-primary;
                        }
                    }

                    a {
                        font-weight: 400;
                        font-size: 12px;
                        color: $brand-primary;
                        text-transform: uppercase;
                        letter-spacing: 1.44px;
                        padding: 0 0 14px;
                    }
                }
            }

            .panel {
                h2 {
                    font-family: $font-family-garamond;
                    font-weight: 400;
                    font-size: 32px;
                    color: $brand-primary;
                    line-height: 1;
                    margin-bottom: 25px;
                }

                p {
                    font-size: 16px;
                    color: $text-gray-color;
                    line-height: 1.75;
                }
            }
        }

        .up-sells,
        .related {
            > h2 {
                font-family: $font-family-garamond;
                font-weight: 400;
                font-size: 32px;
                color: $brand-primary;
                line-height: 1;
                margin-bottom: 25px;
            }
        }
    }

    @media screen and (min-width: 992px) {
        div.product {
            div.summary {
                width: 45%;
            }

            div.images {
                margin-bottom: 70px;
            }
        }
    }

    // Cart Page
    .cart-collaterals {
        margin-bottom: 100px;

        @media screen and (max-width: 767px) {
            margin-bottom: 50px;
        }
    }

    a.remove {
        font-weight: 400;
        color: $light-gray-f !important;

        &:hover {
            background-color: transparent;
            color: $light-gray-f !important;
        }
    }

    table.shop_table {
        border: 0;
        border-radius: 0;
        box-shadow: none;
        margin-bottom: 80px;

        @media screen and (max-width: 575px) {
            margin-bottom: 40px;
        }

        thead {
            background-color: transparent;
        }

        tr {
            border-bottom: 1px solid rgba($light-gray-с, .5);

            @media screen and (max-width: 768px) {
                &:nth-child(2n) {
                    th,
                    td {
                        background-color: $light-gray;
                    }
                }
            }
        }

        th {
            font-family: $font-family-crimson-pro;
            font-weight: 300;
            font-style: italic;
            color: $brand-primary;
            font-size: 21px;
            line-height: 1;
            padding: 20px 5px;
        }

        td {
            font-size: 16px;
            color: $text-gray-color;
            padding: 15px 5px;

            &.product-name {
                a {
                    font-weight: 600;
                    font-size: 16px;
                    color: $text-gray-color;
                }
            }

            &.product-thumbnail {
                img {
                    width: 80px;
                }
            }

            &.product-quantity {
                input.qty {
                    background-color: transparent;
                    border: 1px solid $light-gray-e;
                }
            }
        }
    }

    .woocommerce-cart-form {
        td.actions {
            .coupon {
                input[name="coupon_code"] {
                    background-color: transparent;
                    border-color: $light-gray-e;
                    font-size: 16px;
                    color: $text-light-gray-color;
                    padding: 8px 15px;
                    margin-right: 15px;
                    width: 195px;
                }

                @media screen and (max-width: 575px) {
                    input[name="coupon_code"] {
                        margin-right: 0;
                        margin-bottom: 10px;
                        width: 100%;
                    }

                    button[name="apply_coupon"] {
                        width: 100%;
                    }
                }
            }

            button[name="update_cart"] {
                float: right;

                @media screen and (max-width: 768px) {
                    float: none;
                }

                @media screen and (max-width: 575px) {
                    width: 100%;
                }
            }
        }
    }

    .cart_totals {
        h2 {
            font-family: $font-family-crimson-pro;
            font-size: 36px;
            color: $brand-primary;
            line-height: 1;
            margin-bottom: 20px;
        }

        table.shop_table {
            background-color: $light-gray;
            border: 1px solid $light-gray-d;
            margin-bottom: 0;

            tr {
                border-bottom: 1px solid $light-gray-d;
            }

            th,
            td {
                padding: 30px;
            }

            th {
                font-family: $font-family-crimson-pro;
                font-weight: 300;
                font-style: italic;
                color: $brand-primary;
                font-size: 21px;
                line-height: 1;
            }

            td {
                font-size: 16px;
                color: $text-gray-color;
            }
        }

        .wc-proceed-to-checkout {
            padding: 0;

            .flc-btn {
                font-size: 15px;
                text-align: center;
                padding: 25.5px 30px;
                width: 100%;
            }
        }
    }

    // Checkout Page
    form.woocommerce-checkout,
    form.edit-account,
    form.edit-address-form {
        margin-bottom: 100px;

        @media screen and (max-width: 767px) {
            margin-bottom: 50px;
        }

        h3,
        legend {
            font-family: $font-family-crimson-pro;
            font-size: 36px;
            color: $brand-primary;
            margin-bottom: 35px;

            &#order_review_heading {
                margin-top: 70px;
                margin-bottom: 25px;

                @media screen and (max-width: 757px) {
                    margin-top: 40px;
                }
            }
        }

        #order_review {
            background-color: $light-gray;
            border: 1px solid $light-gray-d;
        }

        legend {
            line-height: 1;
            margin-top: 15px;
            margin-bottom: 20px;
        }

        .form-row {
            padding: 0;
            margin-bottom: 15px;

            label {
                font-family: $font-family-crimson-pro;
                font-weight: 300;
                font-style: italic;
                font-size: 19px;
                color: $text-gray-color;
                line-height: 1;
                margin-bottom: 10px;

                .required {
                    color: $text-gray-color;
                }
            }

            input,
            textarea,
            .select2-selection {
                background-color: transparent;
                border: 1px solid $light-gray-e;
                font-size: 16px;
                color: $text-light-gray-color;
                padding: 11px 15px;
            }

            textarea {
                height: 210px;
            }

            .select2-selection {
                border-radius: 0;
                height: auto;

                &__arrow {
                    right: 10px;
                    height: 100%;
                }
            }
        }

        .woocommerce-checkout-review-order-table {
            background-color: $light-gray;

            th {
                font-weight: 300;
            }

            th,
            td {
                background-color: $light-gray;
                padding: 20px 30px;
            }
        }

        #payment {
            background-color: $light-gray;
            border-radius: 0;
            padding: 30px;

            @media screen and (max-width: 757px) {
                padding: 15px;
            }

            ul.payment_methods {
                border-bottom: 0;
                padding: 0;
                margin-bottom: 15px;
            }

            div.place-order {
                padding: 0;
                margin-bottom: 0;
            }
        }
    }

    form.checkout_coupon {
        background-color: $light-gray;
        border: 0;
        border-radius: 0;

        p {
            font-size: 16px;
        }

        .form-row {
            margin-bottom: 0;

            @media screen and (max-width: 767px) {
                &.form-row-first,
                &.form-row-last {
                    float: none;
                    width: 100%;
                }
            }

            input.input-text {
                background-color: transparent;
                border: 1px solid $text-light-gray-color;
                font-size: 16px;
                color: $text-light-gray-color;
                padding: 14px 15px;

                @media screen and (max-width: 767px) {
                    margin-bottom: 10px;
                }
            }
        }
    }

    // My Account
    .woocommerce-MyAccount-navigation {
        margin-bottom: 100px;

        li {
            list-style: none;
            margin-bottom: 15px;

            &.is-active {
                a {
                    text-decoration: underline;
                }
            }

            a {
                @extend %text-12;
                color: $brand-primary;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }

    .woocommerce-MyAccount-content {
        p, li, a {
            @extend %text-16;
            margin: 0 0 25px;
            color: $text-gray-color;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a:not(.flc-btn) {
            color: $brand-primary;
        }

        button[name="save_account_details"],
        button[name="save_address"] {
            margin-top: 20px;
        }

        h3 {
            font-family: $font-family-crimson-pro;
            font-size: 36px;
            color: $brand-primary;
            margin-bottom: 15px;
        }
    }

    // Login Form
    .login-title {
        font-family: $font-family-crimson-pro;
        font-size: 36px;
        color: $brand-primary;
        line-height: 1;
        margin-bottom: 20px;
    }

    form.lost_reset_password,
    form.woocommerce-form-login {
        margin-bottom: 100px;

        @media screen and (max-width: 767px) {
            margin-bottom: 50px;
        }

        .input-text {
            background-color: transparent;
            border: 1px solid $light-gray-e;
            font-size: 16px;
            color: $text-light-gray-color;
            padding: 11px 15px;
        }
    }

    form.woocommerce-form-login {
        .lost_password {
            a {
                @extend %text-12;
                color: $brand-primary;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }

        .woocommerce-form-login {
            &__rememberme {
                margin-top: 10px;
            }
        }
    }
}
